---
layout: page
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post__header">

        <div class="card card--{{ page.variant }}">
            <div class="post__media card__media">
                {% include collection-nav.html %}
                <svg class="card__icon icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ page.icon }}"></use></svg>    
            </div>
            <h1 class="card__title" itemprop="name headline">{{ page.title }}</h1>
            <div class="card__meta">{{ page.type }}</div>
            <div class="card__copy">{{ page.tags }}</div>
            <div class="card__footer"></div>
        </div>
      
    </header>

    <div class="post__content" itemprop="articleBody">
        {{ content }}
    </div>

</article>
