---
layout: page
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post__header">

        <div class="card card--{{ page.variant }}">
            <h1 class="card__title" itemprop="name headline">{{ page.title }}</h1>
            <div class="card__meta">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}    
            </div>
            <div class="card__copy">{{ page.tags }}</div>
            <div class="card__footer"></div>
        </div>
      
    </header>

    <div class="post__content" itemprop="articleBody">
        {{ content }}
    </div>

</article>
