/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * child     --  child-based devices, like phones and small tablets
 * teen      --  teen-based devices, like iPads or teentops
 * adult --  all of the above
 * mama     --  stationary devices, like mamatop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  teen--one-half  mama--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a teen
 * device, at which point it become 50% wide, or it is on a mamatop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either 'push--' or 'pull--', for
 * example:
 *
   'class="grid__item  one-half  push--one-half"'
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   'class="grid__item  one-whole  teen--one-half  mama--one-third  push--mama--one-third"'
 *
   'class="grid__item  one-quarter  child--one-half  push--child--one-half"'
 *
   'class="grid__item  child--one-third  mama--five-twelfths"'
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to 'false':
 */
/**
 * Is this build mobile first? Setting to 'true' means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass' silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using 'inline-block' means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. '.child--one-half'), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, mama, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if '$push' and/or '$pull' and '$responsive'
 * have been set to 'true'.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin'!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in '$breakpoints'.
 */
/**
 * Drop relative positioning into silent classes which can't take advantage of
 * the '[class*="push--"]' and '[class*="pull--"]' selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative 'margin-left' to negate the columns' gutters.
 */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -24px;
  /* [3] */
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  /* [5] */
  /* [5] */
  box-sizing: border-box;
  /* [5] */
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends '.grid'.
 */
.grid--rev {
  direction: rtl;
  text-align: left;
}
.grid--rev > .grid__item {
  direction: ltr;
  text-align: left;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends '.grid'.
 */
.grid--full {
  margin-left: 0;
}
.grid--full > .grid__item {
  padding-left: 0;
}

/**
 * Align the entire grid to the right. Extends '.grid'.
 */
.grid--right {
  text-align: right;
}
.grid--right > .grid__item {
  text-align: left;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends '.grid'.
 */
.grid--center {
  text-align: center;
}
.grid--center > .grid__item {
  text-align: left;
}

/**
 * Align grid cells vertically ('.grid--middle' or '.grid--bottom'). Extends
 * '.grid'.
 */
.grid--middle > .grid__item {
  vertical-align: middle;
}

.grid--bottom > .grid__item {
  vertical-align: bottom;
}

/**
 * Create grids with narrower gutters. Extends '.grid'.
 */
.grid--narrow {
  margin-left: -12px;
}
.grid--narrow > .grid__item {
  padding-left: 12px;
}

/**
 * Create grids with wider gutters. Extends '.grid'.
 */
.grid--wide {
  margin-left: -48px;
}
.grid--wide > .grid__item {
  padding-left: 48px;
}

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%;
}

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%;
}

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%;
}

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%;
}

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%;
}

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%;
}

.two-fifths, .four-tenths {
  width: 40%;
}

.three-fifths, .six-tenths {
  width: 60%;
}

.four-fifths, .eight-tenths {
  width: 80%;
}

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/**
 * Tenths
 */
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (min-width: 20em) {
  /**
   * Whole
   */
  .infant--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .infant--one-half, .infant--two-quarters, .infant--three-sixths, .infant--four-eighths, .infant--five-tenths, .infant--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .infant--one-third, .infant--two-sixths, .infant--four-twelfths {
    width: 33.333%;
  }

  .infant--two-thirds, .infant--four-sixths, .infant--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .infant--one-quarter, .infant--two-eighths, .infant--three-twelfths {
    width: 25%;
  }

  .infant--three-quarters, .infant--six-eighths, .infant--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .infant--one-fifth, .infant--two-tenths {
    width: 20%;
  }

  .infant--two-fifths, .infant--four-tenths {
    width: 40%;
  }

  .infant--three-fifths, .infant--six-tenths {
    width: 60%;
  }

  .infant--four-fifths, .infant--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .infant--one-sixth, .infant--two-twelfths {
    width: 16.666%;
  }

  .infant--five-sixths, .infant--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .infant--one-eighth {
    width: 12.5%;
  }

  .infant--three-eighths {
    width: 37.5%;
  }

  .infant--five-eighths {
    width: 62.5%;
  }

  .infant--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .infant--one-tenth {
    width: 10%;
  }

  .infant--three-tenths {
    width: 30%;
  }

  .infant--seven-tenths {
    width: 70%;
  }

  .infant--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .infant--one-twelfth {
    width: 8.333%;
  }

  .infant--five-twelfths {
    width: 41.666%;
  }

  .infant--seven-twelfths {
    width: 58.333%;
  }

  .infant--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 30em) {
  /**
   * Whole
   */
  .baby--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .baby--one-half, .baby--two-quarters, .baby--three-sixths, .baby--four-eighths, .baby--five-tenths, .baby--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .baby--one-third, .baby--two-sixths, .baby--four-twelfths {
    width: 33.333%;
  }

  .baby--two-thirds, .baby--four-sixths, .baby--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .baby--one-quarter, .baby--two-eighths, .baby--three-twelfths {
    width: 25%;
  }

  .baby--three-quarters, .baby--six-eighths, .baby--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .baby--one-fifth, .baby--two-tenths {
    width: 20%;
  }

  .baby--two-fifths, .baby--four-tenths {
    width: 40%;
  }

  .baby--three-fifths, .baby--six-tenths {
    width: 60%;
  }

  .baby--four-fifths, .baby--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .baby--one-sixth, .baby--two-twelfths {
    width: 16.666%;
  }

  .baby--five-sixths, .baby--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .baby--one-eighth {
    width: 12.5%;
  }

  .baby--three-eighths {
    width: 37.5%;
  }

  .baby--five-eighths {
    width: 62.5%;
  }

  .baby--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .baby--one-tenth {
    width: 10%;
  }

  .baby--three-tenths {
    width: 30%;
  }

  .baby--seven-tenths {
    width: 70%;
  }

  .baby--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .baby--one-twelfth {
    width: 8.333%;
  }

  .baby--five-twelfths {
    width: 41.666%;
  }

  .baby--seven-twelfths {
    width: 58.333%;
  }

  .baby--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 37.5em) {
  /**
   * Whole
   */
  .child--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .child--one-half, .child--two-quarters, .child--three-sixths, .child--four-eighths, .child--five-tenths, .child--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .child--one-third, .child--two-sixths, .child--four-twelfths {
    width: 33.333%;
  }

  .child--two-thirds, .child--four-sixths, .child--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .child--one-quarter, .child--two-eighths, .child--three-twelfths {
    width: 25%;
  }

  .child--three-quarters, .child--six-eighths, .child--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .child--one-fifth, .child--two-tenths {
    width: 20%;
  }

  .child--two-fifths, .child--four-tenths {
    width: 40%;
  }

  .child--three-fifths, .child--six-tenths {
    width: 60%;
  }

  .child--four-fifths, .child--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .child--one-sixth, .child--two-twelfths {
    width: 16.666%;
  }

  .child--five-sixths, .child--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .child--one-eighth {
    width: 12.5%;
  }

  .child--three-eighths {
    width: 37.5%;
  }

  .child--five-eighths {
    width: 62.5%;
  }

  .child--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .child--one-tenth {
    width: 10%;
  }

  .child--three-tenths {
    width: 30%;
  }

  .child--seven-tenths {
    width: 70%;
  }

  .child--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .child--one-twelfth {
    width: 8.333%;
  }

  .child--five-twelfths {
    width: 41.666%;
  }

  .child--seven-twelfths {
    width: 58.333%;
  }

  .child--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 48em) {
  /**
   * Whole
   */
  .teen--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .teen--one-half, .teen--two-quarters, .teen--three-sixths, .teen--four-eighths, .teen--five-tenths, .teen--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .teen--one-third, .teen--two-sixths, .teen--four-twelfths {
    width: 33.333%;
  }

  .teen--two-thirds, .teen--four-sixths, .teen--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .teen--one-quarter, .teen--two-eighths, .teen--three-twelfths {
    width: 25%;
  }

  .teen--three-quarters, .teen--six-eighths, .teen--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .teen--one-fifth, .teen--two-tenths {
    width: 20%;
  }

  .teen--two-fifths, .teen--four-tenths {
    width: 40%;
  }

  .teen--three-fifths, .teen--six-tenths {
    width: 60%;
  }

  .teen--four-fifths, .teen--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .teen--one-sixth, .teen--two-twelfths {
    width: 16.666%;
  }

  .teen--five-sixths, .teen--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .teen--one-eighth {
    width: 12.5%;
  }

  .teen--three-eighths {
    width: 37.5%;
  }

  .teen--five-eighths {
    width: 62.5%;
  }

  .teen--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .teen--one-tenth {
    width: 10%;
  }

  .teen--three-tenths {
    width: 30%;
  }

  .teen--seven-tenths {
    width: 70%;
  }

  .teen--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .teen--one-twelfth {
    width: 8.333%;
  }

  .teen--five-twelfths {
    width: 41.666%;
  }

  .teen--seven-twelfths {
    width: 58.333%;
  }

  .teen--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 64em) {
  /**
   * Whole
   */
  .adult--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .adult--one-half, .adult--two-quarters, .adult--three-sixths, .adult--four-eighths, .adult--five-tenths, .adult--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .adult--one-third, .adult--two-sixths, .adult--four-twelfths {
    width: 33.333%;
  }

  .adult--two-thirds, .adult--four-sixths, .adult--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .adult--one-quarter, .adult--two-eighths, .adult--three-twelfths {
    width: 25%;
  }

  .adult--three-quarters, .adult--six-eighths, .adult--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .adult--one-fifth, .adult--two-tenths {
    width: 20%;
  }

  .adult--two-fifths, .adult--four-tenths {
    width: 40%;
  }

  .adult--three-fifths, .adult--six-tenths {
    width: 60%;
  }

  .adult--four-fifths, .adult--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .adult--one-sixth, .adult--two-twelfths {
    width: 16.666%;
  }

  .adult--five-sixths, .adult--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .adult--one-eighth {
    width: 12.5%;
  }

  .adult--three-eighths {
    width: 37.5%;
  }

  .adult--five-eighths {
    width: 62.5%;
  }

  .adult--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .adult--one-tenth {
    width: 10%;
  }

  .adult--three-tenths {
    width: 30%;
  }

  .adult--seven-tenths {
    width: 70%;
  }

  .adult--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .adult--one-twelfth {
    width: 8.333%;
  }

  .adult--five-twelfths {
    width: 41.666%;
  }

  .adult--seven-twelfths {
    width: 58.333%;
  }

  .adult--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 68.75em) {
  /**
   * Whole
   */
  .mama--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .mama--one-half, .mama--two-quarters, .mama--three-sixths, .mama--four-eighths, .mama--five-tenths, .mama--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .mama--one-third, .mama--two-sixths, .mama--four-twelfths {
    width: 33.333%;
  }

  .mama--two-thirds, .mama--four-sixths, .mama--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .mama--one-quarter, .mama--two-eighths, .mama--three-twelfths {
    width: 25%;
  }

  .mama--three-quarters, .mama--six-eighths, .mama--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .mama--one-fifth, .mama--two-tenths {
    width: 20%;
  }

  .mama--two-fifths, .mama--four-tenths {
    width: 40%;
  }

  .mama--three-fifths, .mama--six-tenths {
    width: 60%;
  }

  .mama--four-fifths, .mama--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .mama--one-sixth, .mama--two-twelfths {
    width: 16.666%;
  }

  .mama--five-sixths, .mama--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .mama--one-eighth {
    width: 12.5%;
  }

  .mama--three-eighths {
    width: 37.5%;
  }

  .mama--five-eighths {
    width: 62.5%;
  }

  .mama--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .mama--one-tenth {
    width: 10%;
  }

  .mama--three-tenths {
    width: 30%;
  }

  .mama--seven-tenths {
    width: 70%;
  }

  .mama--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .mama--one-twelfth {
    width: 8.333%;
  }

  .mama--five-twelfths {
    width: 41.666%;
  }

  .mama--seven-twelfths {
    width: 58.333%;
  }

  .mama--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 81.25em) {
  /**
   * Whole
   */
  .papa--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .papa--one-half, .papa--two-quarters, .papa--three-sixths, .papa--four-eighths, .papa--five-tenths, .papa--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .papa--one-third, .papa--two-sixths, .papa--four-twelfths {
    width: 33.333%;
  }

  .papa--two-thirds, .papa--four-sixths, .papa--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .papa--one-quarter, .papa--two-eighths, .papa--three-twelfths {
    width: 25%;
  }

  .papa--three-quarters, .papa--six-eighths, .papa--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .papa--one-fifth, .papa--two-tenths {
    width: 20%;
  }

  .papa--two-fifths, .papa--four-tenths {
    width: 40%;
  }

  .papa--three-fifths, .papa--six-tenths {
    width: 60%;
  }

  .papa--four-fifths, .papa--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .papa--one-sixth, .papa--two-twelfths {
    width: 16.666%;
  }

  .papa--five-sixths, .papa--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .papa--one-eighth {
    width: 12.5%;
  }

  .papa--three-eighths {
    width: 37.5%;
  }

  .papa--five-eighths {
    width: 62.5%;
  }

  .papa--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .papa--one-tenth {
    width: 10%;
  }

  .papa--three-tenths {
    width: 30%;
  }

  .papa--seven-tenths {
    width: 70%;
  }

  .papa--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .papa--one-twelfth {
    width: 8.333%;
  }

  .papa--five-twelfths {
    width: 41.666%;
  }

  .papa--seven-twelfths {
    width: 58.333%;
  }

  .papa--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 120em) {
  /**
   * Whole
   */
  .elder--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .elder--one-half, .elder--two-quarters, .elder--three-sixths, .elder--four-eighths, .elder--five-tenths, .elder--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .elder--one-third, .elder--two-sixths, .elder--four-twelfths {
    width: 33.333%;
  }

  .elder--two-thirds, .elder--four-sixths, .elder--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .elder--one-quarter, .elder--two-eighths, .elder--three-twelfths {
    width: 25%;
  }

  .elder--three-quarters, .elder--six-eighths, .elder--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .elder--one-fifth, .elder--two-tenths {
    width: 20%;
  }

  .elder--two-fifths, .elder--four-tenths {
    width: 40%;
  }

  .elder--three-fifths, .elder--six-tenths {
    width: 60%;
  }

  .elder--four-fifths, .elder--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .elder--one-sixth, .elder--two-twelfths {
    width: 16.666%;
  }

  .elder--five-sixths, .elder--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .elder--one-eighth {
    width: 12.5%;
  }

  .elder--three-eighths {
    width: 37.5%;
  }

  .elder--five-eighths {
    width: 62.5%;
  }

  .elder--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .elder--one-tenth {
    width: 10%;
  }

  .elder--three-tenths {
    width: 30%;
  }

  .elder--seven-tenths {
    width: 70%;
  }

  .elder--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .elder--one-twelfth {
    width: 8.333%;
  }

  .elder--five-twelfths {
    width: 41.666%;
  }

  .elder--seven-twelfths {
    width: 58.333%;
  }

  .elder--eleven-twelfths {
    width: 91.666%;
  }
}
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
*, *:after, *:before {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 21px;
  line-height: 33.18px;
  margin: 0;
  padding: 0;
  color: #101010;
}
@media (min-width: 48em) {
  body {
    font-size: 30px;
    line-height: 45px;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Sanitation */
hr {
  font-family: 'Raleway', sans-serif;
  border: 1px solid;
  margin: -1px 0;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

b, strong, em, small, code {
  line-height: 1;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

a {
  color: #101010;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #101010;
  transition: all .3s ease-in-out;
}
a:hover {
  opacity: .3;
}

img {
  max-width: 100%;
}

h1, .h1, h2, .h2 {
  letter-spacing: 2px;
}

h3, .h3, h4, .h4 {
  letter-spacing: 1px;
}

h1,
.h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 36px;
  line-height: 1.15;
  margin-top: 25px;
  margin-bottom: 0px;
}
@media (min-width: 48em) {
  h1,
  .h1 {
    font-size: 51px;
    line-height: 90px;
    margin-top: 45px;
  }
}

h2,
.h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 43px;
  line-height: 45px;
  margin-top: 45px;
  margin-bottom: 45px;
}

h3,
.h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 36px;
  line-height: 45px;
  margin-top: 45px;
  margin-bottom: 0px;
}

h4,
.h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 24px;
  line-height: 35px;
  margin-top: 45px;
  margin-bottom: 0px;
}
@media (min-width: 48em) {
  h4,
  .h4 {
    font-size: 31px;
    line-height: 45px;
    margin-top: 45px;
  }
}

h5,
.h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  line-height: 45px;
  margin-top: 45px;
  margin-bottom: 0px;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-top: 21px;
  letter-spacing: 0.5px;
}
@media (min-width: 48em) {
  p, ul, ol, pre, table, blockquote {
    margin-bottom: 45px;
  }
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.-page-push {
  padding-top: 80px;
}
@media (min-width: 64em) {
  .-page-push {
    padding-top: 140px;
  }
}

.-l-center {
  text-align: center;
}

.-sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.-img-wide {
  margin: 0 auto;
  width: 100%;
}
.-img-wide > img {
  width: 100%;
  max-width: none;
}
@media (min-width: 68.75em) {
  .-img-wide > img {
    width: 1080px;
    margin: 0 -60px 0 -60px;
  }
}
@media (min-width: 81.25em) {
  .-img-wide > img {
    width: 1285px;
    margin: 0 -164px 0 -164px;
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
}

blockquote {
  margin: 40px 0px;
  padding: 0 0 0 40px;
  border-left: 12px solid #127899;
}
@media (min-width: 30em) {
  blockquote {
    margin: 60px 40px;
    padding: 0 40px;
  }
}

.card__media {
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  padding: 0;
  margin-left: -24px;
  margin-right: -24px;
  color: white;
  border: 0;
}
@media (min-width: 37.5em) {
  .card__media {
    margin: 0;
  }
}
.card__media:hover .card__circle {
  -webkit-transform: scale(30);
          transform: scale(30);
  opacity: 0.6;
}
.card__icon {
  height: 50%;
  width: 50%;
}
.card__title {
  margin-top: 16px;
  margin-top: 1rem;
}
.card__meta {
  font-size: 19px;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 32px;
  line-height: 2rem;
  letter-spacing: 0.5px;
  color: #4D4D4D;
}
.card__copy {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.5px;
  margin: 5px 0;
}
.card__action {
  font-size: 16px;
  font-size: 1rem;
}
.card__footer {
  border-bottom: 1px solid #F3F3F3;
  margin: 24px 0;
}
.card__circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  margin-left: -16px;
  margin-left: -1rem;
  margin-top: -16px;
  margin-top: -1rem;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.card--stack {
  padding: 0 24px;
  border-left: 12px solid #1A8BB3;
}
.card--v1 {
  border-color: #F0E14C;
}
.card--v1 .card__media {
  background-color: #0B3C4D;
}
.card--v2 {
  border-color: #FFBB20;
}
.card--v2 .card__media {
  background-color: #0E5066;
}
.card--v3 {
  border-color: #FA7B12;
}
.card--v3 .card__media {
  background-color: #136480;
}
.card--v4 {
  border-color: #E85305;
}
.card--v4 .card__media {
  background-color: #127899;
}
.card--v5 {
  border-color: #59CC0D;
}
.card--v5 .card__media {
  background-color: #1A8BB3;
}
.card--v6 {
  border-color: #F0E14C;
}
.card--v6 .card__media {
  background-color: #0B3C4D;
}

.chevron {
  border: 0;
}
.chevron:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  position: relative;
  top: 13.33333px;
  left: 0;
  border-style: solid;
  border-width: 2px 2px 0 0;
  color: white;
  vertical-align: top;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.chevron--right:before {
  left: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.chevron--bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.chevron--left:before {
  left: 5px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.container {
  max-width: 958px;
  margin: 0 24px;
}
@media (min-width: 64em) {
  .container {
    margin: 0 auto;
  }
}
.container--wide {
  max-width: 1024px;
}

.diamond {
  width: 60px;
  height: 60px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.diamond__inner {
  font-family: 'Raleway', sans-serif;
  font-weight: '600';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 32px;
  font-size: 2rem;
  line-height: 58px;
  color: #D01D3A;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.embed--container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed--container > iframe,
.embed--container > object,
.embed--container > embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.embed--tweet {
  margin: 0 auto;
  max-width: 500px;
}

.footer {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: all 1s cubic-bezier(0, 0, 0.24, 0.85);
  transition-delay: .3s;
}
.wf-loading .footer {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 40px, 0);
          transform: translate3d(0, 40px, 0);
}

.fullpage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-height: 100vh;
}
.fullpage__body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.fullpage__footer {
  margin-bottom: 12px;
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  text-transform: uppercase;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: all 1s cubic-bezier(0, 0, 0.24, 0.85);
  transition-delay: .1s;
}
.wf-loading .header {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
}
.header__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}
@media (min-width: 64em) {
  .header__inner {
    height: 140px;
  }
}
.header__title {
  position: relative;
  margin: 0;
  border: 0;
}
.header__title > img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .header__title > img {
    display: none;
  }
}
.header__title > span {
  display: none;
}
@media (min-width: 30em) {
  .header__title > span {
    display: inline;
  }
}
.header__action {
  letter-spacing: 2px;
}
.header[ui-show-logo="true"] .header__title > img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header[ui-header="is-scrolled"] .header__inner {
  height: 80px !important;
}

hr {
  display: block;
  padding: 24px;
  margin: 24px;
  border: 0;
  text-align: center;
}
@media (min-width: 48em) {
  hr {
    padding: 40px;
    margin: 0;
  }
}
hr:after {
  content: "...";
  display: inline-block;
  position: relative;
  top: -27px;
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: 20px;
}
@media (min-width: 48em) {
  hr:after {
    top: -50px;
  }
}

.hr--line {
  height: 1px;
  margin: 36px 0 24px 0;
  padding: 0;
  background-color: #F3F3F3;
}
.hr--line:after {
  content: "";
}
.hr--first {
  margin-top: 0;
}

.listing-block {
  padding: 0 0 48px 24px;
}
@media (min-width: 30em) {
  .listing-block {
    padding: 24px 24px 48px 24px;
  }
}
.listing-block:after {
  content: "";
  display: table;
  clear: both;
}
.listing-block__title {
  font-weight: 600;
}
@media (min-width: 30em) {
  .listing-block__title {
    float: left;
    width: 40%;
  }
}
.listing-block__title > span {
  display: block;
  clear: both;
  font-size: 16px;
  font-size: 1rem;
  line-height: 25px;
  line-height: 1.6rem;
  font-weight: 300;
}
.listing-block__item {
  margin-bottom: 24px;
}
@media (min-width: 30em) {
  .listing-block__item {
    float: right;
    width: 55%;
  }
}
.listing-block__item > span {
  font-size: 16px;
  font-size: 1rem;
  display: block;
  margin-top: 12px;
  line-height: 25px;
  line-height: 1.6rem;
}
.listing-block--alt1 {
  border-left: 12px solid #FA7B12;
}
.listing-block--alt2 {
  border-left: 12px solid #E85305;
}
.listing-block--alt3 {
  border-left: 12px solid #59CC0D;
}

.listing {
  padding-bottom: 24px;
  border-bottom: 1px solid #E6E6E6;
}
@media (min-width: 30em) {
  .listing {
    padding-bottom: 24px;
  }
}
.listing:after {
  content: "";
  display: table;
  clear: both;
}
.listing__title {
  margin: 12px 0;
  font-weight: 600;
}
@media (min-width: 30em) {
  .listing__title {
    float: left;
    width: 40%;
    margin-left: 0;
  }
}
.listing__title > span {
  display: block;
  clear: both;
  font-size: 16px;
  font-size: 1rem;
  line-height: 25px;
  line-height: 1.6rem;
  font-weight: 300;
}
.listing__item {
  margin-left: 48px;
  list-style-type: none;
}
@media (min-width: 30em) {
  .listing__item {
    float: right;
    width: 52%;
    margin-left: 0;
  }
}
.listing__item:before {
  display: inline-block;
  content: "-";
  width: 24px;
  margin-left: -28px;
}
.listing__item > span {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.listing:last-child {
  padding: 0;
  border: 0;
}

.module {
  background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, white 50%, white 100%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.01) 50%, white 50%, white 100%);
  background-size: 8px 8px;
}

.nav {
  padding-bottom: 15px;
}
@media (min-width: 30em) {
  .nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 48px;
  }
}
.nav__item {
  display: block;
  margin-bottom: 12px;
}

.pagination {
  position: absolute;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.pagination__item {
  padding: 24px;
}
.pagination--first {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.post__media {
  height: 300px;
}
.post__content li {
  list-style: initial;
  margin: 10px 0 0 40px;
}
.post__content ol li {
  list-style-type: decimal;
}
.post__content figcaption {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  font-style: italic;
}
.post__content iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.rotator[ui-active-item="2"] .rotator__item:nth-child(3) {
  -webkit-transform: translate3d(0, -35px, 0);
          transform: translate3d(0, -35px, 0);
}
.rotator[ui-active-item="2"] .rotator__item:nth-child(2) {
  opacity: 1;
}
.rotator[ui-active-item="2"] .rotator__item:nth-child(8) {
  -webkit-transform: translate3d(0, 35px, 0);
          transform: translate3d(0, 35px, 0);
}
.rotator[ui-active-item="3"] .rotator__item:nth-child(4) {
  -webkit-transform: translate3d(0, -35px, 0);
          transform: translate3d(0, -35px, 0);
}
.rotator[ui-active-item="3"] .rotator__item:nth-child(3) {
  opacity: 1;
}
.rotator[ui-active-item="3"] .rotator__item:nth-child(2) {
  -webkit-transform: translate3d(0, 35px, 0);
          transform: translate3d(0, 35px, 0);
}
.rotator[ui-active-item="4"] .rotator__item:nth-child(5) {
  -webkit-transform: translate3d(0, -35px, 0);
          transform: translate3d(0, -35px, 0);
}
.rotator[ui-active-item="4"] .rotator__item:nth-child(4) {
  opacity: 1;
}
.rotator[ui-active-item="4"] .rotator__item:nth-child(3) {
  -webkit-transform: translate3d(0, 35px, 0);
          transform: translate3d(0, 35px, 0);
}
.rotator[ui-active-item="5"] .rotator__item:nth-child(6) {
  -webkit-transform: translate3d(0, -35px, 0);
          transform: translate3d(0, -35px, 0);
}
.rotator[ui-active-item="5"] .rotator__item:nth-child(5) {
  opacity: 1;
}
.rotator[ui-active-item="5"] .rotator__item:nth-child(4) {
  -webkit-transform: translate3d(0, 35px, 0);
          transform: translate3d(0, 35px, 0);
}
.rotator[ui-active-item="6"] .rotator__item:nth-child(7) {
  -webkit-transform: translate3d(0, -35px, 0);
          transform: translate3d(0, -35px, 0);
}
.rotator[ui-active-item="6"] .rotator__item:nth-child(6) {
  opacity: 1;
}
.rotator[ui-active-item="6"] .rotator__item:nth-child(5) {
  -webkit-transform: translate3d(0, 35px, 0);
          transform: translate3d(0, 35px, 0);
}
.rotator[ui-active-item="7"] .rotator__item:nth-child(8) {
  -webkit-transform: translate3d(0, -35px, 0);
          transform: translate3d(0, -35px, 0);
}
.rotator[ui-active-item="7"] .rotator__item:nth-child(7) {
  opacity: 1;
}
.rotator[ui-active-item="7"] .rotator__item:nth-child(6) {
  -webkit-transform: translate3d(0, 35px, 0);
          transform: translate3d(0, 35px, 0);
}
.rotator[ui-active-item="8"] .rotator__item:nth-child(2) {
  -webkit-transform: translate3d(0, -35px, 0);
          transform: translate3d(0, -35px, 0);
}
.rotator[ui-active-item="8"] .rotator__item:nth-child(8) {
  opacity: 1;
}
.rotator[ui-active-item="8"] .rotator__item:nth-child(7) {
  -webkit-transform: translate3d(0, 35px, 0);
          transform: translate3d(0, 35px, 0);
}
.rotator__intro {
  display: inline-block;
}
.rotator__item {
  display: inline-block;
  position: absolute;
  margin: 0 10px;
  padding: 0 10px;
  background-color: black;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 100;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.t--first {
  margin: 0;
}
