// *************************************
//
//   blockquote
//   -> Module description
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

blockquote {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    margin: 60px 40px;
    padding: 0 40px;
    border-left: 12px solid #127899;

}