// *************************************
//
//   container
//   -> Width controller
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.container {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $container-narrow: $g-text-width;
    $container-wide: 1024px;
    
    max-width: $container-narrow;
    margin: 0 $g-gutter;
    
    @include breakpoint("adult-bear") {
        margin: 0 auto;
    }
    
    // -------------------------------------
    //   Variations
    // -------------------------------------

    // ----- Variation description ----- // 

    &--wide {
        max-width: $container-wide;
    }

}