// *************************************
//
//   fullpage
//   -> Fullscreen page for home page
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.fullpage {

    // -------------------------------------
    //   Base
    // -------------------------------------


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Body Container ----- // 

    &__body {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-grow: 1;
    }


    // ----- Footer Container ----- // 

    &__footer {
        margin-bottom: $g-gutter / 2;
    }

}