// *************************************
//
//   header
//   -> Header section
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.header {

    // -------------------------------------
    //   Variables & Base
    // -------------------------------------
    
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    text-transform: uppercase;

    
    // -------------------------------------
    //   Elements
    // -------------------------------------

    // ----- Inner header container ----- // 

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        
        @include breakpoint("adult-bear") { height: 140px; }
    }


    // ----- Header title (with tiny logo) ----- // 

    &__title {
        position: relative;
        margin: 0;
        border: 0;
        
        // Tiny logo - Visible on mobile
        > img {
            width: 40px;
            height: 40px;
            vertical-align: middle;
            
            @include breakpoint('baby-bear'){ display: none; }
        }
        
        // Title text wrapper (hidden on mobile)
        > span {
            display: none;
            @include breakpoint('baby-bear'){ display: inline; }
        }
    }

    // ----- Action button/link ----- // 

    &__action {
        letter-spacing: 2px;
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Logo visible version ----- // 

    &[ui-show-logo="true"] {
        
        .header__title { 
            > img { 
                opacity: 1;
                transform: scale(1);
            }
        }
    }


    // ----- Condensed version (after scroll) ----- // 

    &[ui-header="is-scrolled"] {
        
        .header__inner { 
            height: 80px!important;
        }
    }

}