// *************************************
//
//   hr
//   -> Horizontal Rule
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.hr {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $hr-var:    7em;
    $hr-col-fg: #3B5998;
    $hr-col-bg: #c0deed;
    
    display: block;
    padding: $g-gutter;
    margin: $g-gutter;
    border: 0;
    text-align: center;

    @include breakpoint('teen-bear'){ 
        padding: 40px; 
        margin: 0;
    }
    
    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &:after {
        content: "...";
        display: inline-block;
        position: relative;
        top: -27px;
        font-size: 2rem;
        letter-spacing: 20px;
        
        @include breakpoint('teen-bear'){ top: -50px; }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Single grey line, full width ----- // 

    &--line {
        
        height: 1px;
        margin: $g-gutter * 1.5 0 $g-gutter 0;
        padding: 0;
        background-color: #F3F3F3;
        
        &:after { content: ""; }
    }


    // ----- First hr after a fullpage box. No top spacing ----- // 

    &--first {
        margin-top: 0;
    }

}