// *************************************
//
//   listing
//   -> Generic listing unit
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.listing {

    // -------------------------------------
    //   Variables
    // -------------------------------------
    
    
    padding-bottom: $g-gutter;
    border-bottom: 1px solid #E6E6E6;
    
    @include breakpoint('baby-bear'){ padding-bottom: $g-gutter; }

    // Clearfix
    &:after{
        content:"";
        display:table;
        clear:both;
    }
    
    
    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- List title Item ----- // 

    &__title {
        margin: 12px 0;
        font-weight: 600;
        
        @include breakpoint('baby-bear'){
            float: left;
            width: 40%;
            margin-left: 0;
        }

        // Smaller caption text
        > span {
            display: block;
            clear: both;
            font-size: 1rem;
            line-height: 1.6rem;
            font-weight: 300;
        }
    }


    // ----- List Item ----- // 

    &__item {
        
        margin-left: $g-gutter * 2;
        list-style-type: none;
        
        @include breakpoint('baby-bear'){
            float: right;
            width: 52%;
            margin-left: 0;
        }
        
        // Dash prepened
        &:before {
            display: inline-block;
            content: "-";
            width: $g-gutter;
            margin-left: -28px;
        }
        
        // Caption text
        > span {
            font-size: 1rem;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Last child gets no border-bottom ----- // 
    
    &:last-child {
        padding: 0;
        border: 0;
    }
}