// *************************************
//
//   listing-block
//   -> Block variant of listing
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.listing-block {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $col-1: #FA7B12;
    $col-2: #E85305;
    $col-3: #59CC0D;

    padding: $g-gutter $g-gutter $g-gutter * 2 $g-gutter;
    
    // Clearfix
    &:after{
        content:"";
        display:table;
        clear:both;
    }
    
    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- List title Item ----- // 

    &__title {
        float: left;
        width: 40%;
        font-weight: 600;

        // Smaller caption text
        > span {
            display: block;
            clear: both;
            font-size: 1rem;
            line-height: 1.6rem;
            font-weight: 300;
        }
    }


    // ----- Link Item ----- // 

    &__item {
        float: right;
        width: 55%;
        margin-bottom: $g-gutter;
        
        // Caption text
        > span {
            font-size: 1rem;
            display: block;
            margin-top: $g-gutter / 2;
            line-height: 1.6rem;
        }
    }
    
    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Color variations ----- // 

    &--alt1 { border-left: $g-gutter / 2 solid $col-1; }
    &--alt2 { border-left: $g-gutter / 2 solid $col-2; }
    &--alt3 { border-left: $g-gutter / 2 solid $col-3; }

}