// *************************************
//
//   listing
//   -> Inline listing stuff
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.listing {
    
    

    // -------------------------------------
    //   Variables & Base
    // -------------------------------------
    
    $unit: 35px;

    // Active item variations
    &[ui-active-item="2"] {
        .listing__item:nth-child(2) { opacity: 1; }
        .listing__item:nth-child(3) { transform: translate3d( 0, -$unit, 0 ); }
        .listing__item:nth-child(5) { transform: translate3d( 0, $unit, 0 ); }
    }

    // Active item variations
    &[ui-active-item="3"] {
        .listing__item:nth-child(2) { transform: translate3d( 0, $unit, 0 ); }
        .listing__item:nth-child(3) { opacity: 1; }
        .listing__item:nth-child(4) { transform: translate3d( 0, -$unit, 0 ); }
    }

    // Active item variations
    &[ui-active-item="4"] {
        .listing__item:nth-child(3) { transform: translate3d( 0, $unit, 0 ); }
        .listing__item:nth-child(4) { opacity: 1; }
        .listing__item:nth-child(5) { transform: translate3d( 0, -$unit, 0 ); }
    }

    // Active item variations
    &[ui-active-item="5"] {
        .listing__item:nth-child(2) { transform: translate3d( 0, -$unit, 0 ); }
        .listing__item:nth-child(4) { transform: translate3d( 0, $unit, 0 ); }
        .listing__item:nth-child(5) { opacity: 1; }
    }

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__intro {
        display: inline-block;
    }


    // ----- Element description ----- // 

    &__item {
        display: inline-block;
        position: absolute;
        margin: 0 10px;
        padding: 0 10px;
        background-color: black;
        color: rgba(255, 255, 255, 0.95);
        font-weight: 100;
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}