// *************************************
//
//   Example module
//   -> Overview of module and usage
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.module {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $module-var:    7em;
    $module-col-fg: #3B5998;
    $module-col-bg: #c0deed;


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__element {}


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}