// *************************************
//
//   nav
//   -> Footer navigation
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.nav {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $nav-var:    7em;
    $nav-col-fg: #3B5998;
    $nav-col-bg: #c0deed;

    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__item {
        
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}