// *************************************
//
//   post
//   -> Post contents
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.post {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $post-var:    7em;
    $post-col-fg: #3B5998;
    $post-col-bg: #c0deed;


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__media {
        height: 300px;
    }


    // ----- Post contents (markdown) ----- // 

    &__content {
        
        li { 
            list-style: initial;
            margin: 10px 0 0 40px;
        }
        
        // Ordered lists
        ol li { 
            list-style-type: decimal;
        }

        // Figcaptions
        figcaption {
            text-align: center;
            font-size: 1rem;
            font-style: italic;
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}